# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
venv/
.env/

# macOS system files
.DS_Store

# Visual Studio Code settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Other common ignores (adjust based on your needs)

#project specific files
~temp~*
session.json
